<div class="dialog_container">
    <mat-form-field>
        <mat-label>Select action</mat-label>
        <mat select></mat>
    </mat-form-field>
    <form [formGroup]="form">
        <div mat-dialog-content>
            <mat-form-field *ngIf="action != 'Delete'; else elseTemplate ">


                <input autocomplete="off" type="number" min="1" max="10" matInput placeholder="Grade"
                    formControlName="gradeValue" #grade>
            </mat-form-field>

            <mat-form-field class="date" *ngIf="action != 'Delete'; else ">

                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" #date>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>

    <ng-template #elseTemplate>
        Sure to delete <b>{{grade.gradeValue}}</b>?
    </ng-template>
    <div mat-dialog-action class="buttons">
        <button mat-raised-button color="primary" (click)="doAction()">{{action}}</button>
        <button mat-raised-button color="primary" (click)="closeDialog()" cdkFocusInitial>cancel</button>
    </div>
</div>