<div class="teacher-catalog">
    <div class="main">
        <mat-form-field [formGroup]="form" class="form-field">
            <mat-label>Select classroom</mat-label>
            <mat-select formControlName="classroom">
                <mat-option *ngFor="let classroom of classrooms$ | async" [value]=classroom>
                    {{classroom.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field [formGroup]="form">
            <mat-label>Select subject</mat-label>
            <mat-select formControlName="subject" disabled="true" >
                <mat-option *ngFor="let subject of subjects" [value]=subject>
                    {{subject.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="example-container">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel *ngFor="let student of students$ | async" table (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{student.lastName}} {{student.firstName}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <mat-icon class="account_circle">account_circle</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-grade-list [student]="student" [subject]=subjects[0] [teacher]="teacher"></app-grade-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>