<div class="main">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Add Class">
            <app-class-form (saveClass)="onAddClass($event)"></app-class-form>
        </mat-tab>
        <mat-tab label="Add Subject">
            <app-subject-form (saveSubject)="onAddSubject($event)"></app-subject-form>
        </mat-tab>
        <mat-tab label="Add Student">
            <app-student-form (saveStudent)="onAddStudent($event)"></app-student-form>
        </mat-tab>
        <mat-tab label="Add Teacher">
            <app-teacher-form (saveTeacher)="onAddTeacher($event)"></app-teacher-form>
        </mat-tab>
        <mat-tab label="View Details">
            <app-view-details></app-view-details>
        </mat-tab>
    </mat-tab-group>
</div>