<div class="main">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Add User">
            <mat-card class="form-card">
                <form (ngSubmit)="addUser()" [formGroup]="userForm">
                    <mat-form-field class="full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="role" required #role>

                            <mat-option *ngFor="let role of roles" [value]="role.key" #id>
                                {{role.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <button mat-button type="submit">Save</button>
                </form>
            </mat-card>

        </mat-tab>

        <mat-tab label="Add Class">
            <mat-card class="form-card">
                <form (ngSubmit)="addClassroom()" [formGroup]="classForm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Classroom Name" type="text" formControlName="name">
                    </mat-form-field>
                    <button mat-button type="submit">Save</button>
                </form>
            </mat-card>
        </mat-tab>

        <mat-tab label="Add Subject">
            <app-subject-form (saveSubject)="onAddSubject($event)"></app-subject-form>
        </mat-tab>
        <mat-tab label="Add Student">
            <mat-card class="form-card">
                <form (ngSubmit)="addStudent()" [formGroup]="studentForm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First Name" type="text" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="Classroom" type="text" formControlName="classroom">
                    </mat-form-field>
                    <button mat-button type="submit">Save</button>
                </form>
            </mat-card>
        </mat-tab>
        <mat-tab label="Add Teacher">

            <mat-card class="form-card">
                <form (ngSubmit)="addTeacher()" [formGroup]="teacherForm">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="First Name" type="text" formControlName="firstName">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input matInput placeholder="Class" type="text" formControlName="class">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Subject</mat-label>
                        <mat-select formControlName="subject">

                            <mat-option *ngFor="let subject of subjects$ | async" [value]="subject">
                                {{subject.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>
                    <button mat-button type="submit">Save</button>
                </form>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>