.sidenav-container {
  height: 535px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main {
  height: 535px;
}

// .main-homediv {
   
//   width: 550px;
//   height: 400px;
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   /* bring your own prefixes */
//   transform: translate(-50%, -50%);
//   // border: 1px solid grey;

  
 
// }

// .firstdiv {
//   height: 70px;
//   width: 510px;
//   border: 1px solid grey;
//   margin-left: 20px;
//   margin-top: 40px;
//   border-radius: 5px ;
//   background-color: #673ab7;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 25px;
//   margin: auto;
//   color: white;
// }

// .inline-divs {
//   margin: auto;
//   position: relative;
  
  
// }
// .seconddiv {
//   height: 180px;
//   width: 154px;
//   border: 1px solid grey;
//   margin-top: 30px;
//   margin-left: 20px;
//   border-radius: 5px;
//   display: inline-flex;
// }
// .header {
//   width: 154px;
//   height: 40px;
//   background-color: grey;
  
// }

// p {
//   font-size: 12px;
//     display: flex;
//     justify-content: center;
// }

// img {
//   height: 100px;
//   width: 100px;
//   display:block;
//   margin:auto;
// }

.background {
  width: 100%;
  height: 100%;
}



