<!-- <div class="d">
    <div class="main-homediv">

        <div class="firstdiv">
            GRADES APP
        </div>
        <div class="inline-divs">
            <div class="seconddiv">
                <div class="header">
                    <p>GRADES MANAGEMENT</p>
                </div>
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGY5mWPl57emPl5Sk5KYwnHO6puzcFo9T4bDcejx5ddfp1SoTe&usqp=CAU">
            </div>

            <div class="seconddiv">
                <div class="header">
                    <p>No text.</p>
                </div>
            </div>
            <div class="seconddiv">
                <div class="header">
                    <p>No text.</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="main">
    <img class="background" src="https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png">
</div>