<div class="d">
    <!-- <div class="main-homediv">

        <div class="firstdiv">
            GRADES APP
        </div>
        <div class="inline-divs">
            <div class="seconddiv">
                <div class="header">
                    <p>GRADES MANAGEMENT</p>
                </div>
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGY5mWPl57emPl5Sk5KYwnHO6puzcFo9T4bDcejx5ddfp1SoTe&usqp=CAU">
            </div>

            <div class="seconddiv">
                <div class="header">
                    <p>No text.</p>
                </div>
            </div>
            <div class="seconddiv">
                <div class="header">
                    <p>No text.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="cards">
        <mat-card class="header-card">
            <p>GRADES APP</p>
        </mat-card>
        <div class="inline">
            <mat-card class="inline-cards">
                <mat-card-header style="margin-left:0px;" class="mat-card-header-text">
                    <mat-card-title>GRADE MANAGEMENT</mat-card-title>
                </mat-card-header>
                <img mat-card-image class="gradeMng" src="assets/img/gradeMng.png" alt="Photo of grade management">
            </mat-card>
            <mat-card class="inline-cards">
                <mat-card-header style="margin-left:0px;" class="mat-card-header-text">
                    <mat-card-title>ATTENDANCE MANAGEMENT</mat-card-title>
                    <img mat-card-image class="attendanceMng" src="assets/img/attendanceMng.png"
                        alt="Photo of attendance management">
                </mat-card-header>
            </mat-card>
            <mat-card class="inline-cards">
                <mat-card-header style="margin-left:0px;" class="mat-card-header-text">
                    <mat-card-title>PERFORMANCE TRACKER</mat-card-title>
                    <img mat-card-image class="attendanceMng" src="assets/img/performance.png"
                        alt="Photo of attendance management">
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>