@import "~@angular/material/theming";

$primary: mat-palette($mat-indigo);

.account-info-container {
    height:auto;
	min-height:88vh;
	background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
	background-size:cover;
    background-position:center;
    padding-top: 48px;

    .account-info-card {
        width: 50%;
        height: auto;
        margin-left: 25%;

        .details-header {
            font-size: 24px;
            color: mat-color($primary);
        }

        .user-details-container {
            margin-top: 12px;
            margin-bottom: 12px;
            margin-left: 12px;
            line-height: 24px;

            .detail-label {
                color: grey;
                font-size: 16px;
                margin-left: 12px;
                margin-right: 24px;
            }

            .detail-value {
                font-size: 16px;
            }
        }
    }
    
}