.dialog_container {
    text-align: -webkit-center;
    justify-content: center;
    margin-top: 40%;
   
}
.buttons {
    margin-top: 10%;
}
.date {
    width: 71%;
}
:host {
    width: 300px;
    height: 420px;
}

.select {
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
}
