.main {
    height: 535px;
}


@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);


.form-card {
    // max-width: 400px;
    border: 2px solid mat-color($primary);
    border-radius: 30px !important;
  }

  .full-width {
    width: 100%;
   
  }

  .mat-tab-group {
    align-items: center;
   
  }

  .mat-card {
      margin-top: 35px;
  }

  .form-card {
    height: 215px;
    width: 280px;
    
  }