<div class="catalog-container">
    <table mat-table [dataSource]="catalog$ | async" class="table">
        <ng-container matColumnDef="object">
            <th mat-header-cell *matHeaderCellDef width="40%"> Class </th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="grades">
            <th mat-header-cell *matHeaderCellDef width="50%"> Grades </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="grades">
                    <span *ngFor="let grade of element.grades; let i=index">

                        <mat-chip *ngIf="grade" color="primary" selected
                            matTooltip="{{grade.date | date:'fullDate'}}" matTooltipPosition="above">
                            {{grade.gradeValue}}

                        </mat-chip>
                    </span>


                </mat-chip-list>

            </td>
        </ng-container>

        <ng-container matColumnDef="absence">
            <th mat-header-cell *matHeaderCellDef width="40%"> Absence </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="absence">
                    <span *ngFor="let absence of element.absences; let i=index">

                        <mat-chip *ngIf="absence" color="primary" selected
                            matTooltip="{{absence.date | date:'fullDate'}}" matTooltipPosition="above">
                            {{absence.absenceS}}

                        </mat-chip>
                    </span>


                </mat-chip-list>
            </td>
        </ng-container>



        <ng-container matColumnDef="mean">
            <th mat-header-cell *matHeaderCellDef> Mean </th>

            <td mat-cell *matCellDef="let element">{{element.mean}}
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>