table {
    width: 70%;
  }
.catalog-container {
  height: 100%;
  }

  .mat-column-grades {
    width: 35%;
  }

  .table {
  
     
    position: absolute;
    // text-align: left;
    // justify-content: center;
    margin-top: 7%;
    margin-left: 15%;
  
  }

  .catalog-container {
    height: 89vh;
    background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
    background-size: contain;
  }

 