table {
  width: 70%;
}
.catalog-container {
  height: auto;
  min-height: 93vh;
  background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
  background-size: cover;
  background-position: center;
  padding-top: 12px;
}

.mat-column-grades {
  width: 35%;
}

.table {
  position: relative;
  margin-top: 7%;
  margin-left: 15%;
}
