
.login-card {
    max-width: 300px;
  background: transparent;
  position: absolute;
  top: 40%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%,-50%);
 background: rgba(0,0,0,0.3);
  }


mat-form-field {
    width: 90%;
   
  }

button {
  margin-top: 15px;
    left: 35%;
}

.main {
  height:auto;
	min-height:100vh;
	background-image: url("https://webgradients.com/public/webgradients_png/008%20Rainy%20Ashville.png");
	background-size:cover;
	background-position:center;
}

:host {
  background-color: green;
  size: 200px 200px;
  display: block;
}
